Repository brianelliott5/siddidit-n983zc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @web-team, @security-team, @devops-team, @ci-team, @docs-team

Add public-samples/siddidit-n983zc/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @docs-team

Add public-samples/siddidit-n983zc/.github/workflows/build.yml
  .github/workflows/build.yml
Owners: @devops-team, @ci-team

Add public-samples/siddidit-n983zc/.github/workflows/deploy.yml
  .github/workflows/deploy.yml
Owners: @devops-team, @ci-team

Add public-samples/siddidit-n983zc/.github/workflows/pr-checks.yml
  .github/workflows/pr-checks.yml
Owners: @devops-team, @ci-team

Add public-samples/siddidit-n983zc/.github/workflows/rollback.yml
  .github/workflows/rollback.yml
Owners: @devops-team, @ci-team

Add public-samples/siddidit-n983zc/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @devops-team, @ci-team

Add public-samples/siddidit-n983zc/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @docs-team

Add public-samples/siddidit-n983zc/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @docs-team

Add public-samples/siddidit-n983zc/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @docs-team

Add public-samples/siddidit-n983zc/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @docs-team

Add public-samples/siddidit-n983zc/infrastructure/README.md
  infrastructure/README.md
Owners: @docs-team

Add public-samples/siddidit-n983zc/infrastructure/ansible/inventory/prod.yml
  infrastructure/ansible/inventory/prod.yml
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/ansible/inventory/staging.yml
  infrastructure/ansible/inventory/staging.yml
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/ansible/playbooks/web-server.yml
  infrastructure/ansible/playbooks/web-server.yml
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/ansible/roles/monitoring/tasks/main.yml
  infrastructure/ansible/roles/monitoring/tasks/main.yml
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/ansible/roles/nginx/tasks/main.yml
  infrastructure/ansible/roles/nginx/tasks/main.yml
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/ansible/roles/nginx/templates/nginx.conf.j2
  infrastructure/ansible/roles/nginx/templates/nginx.conf.j2
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/ansible/roles/nginx/templates/security-headers.conf.j2
  infrastructure/ansible/roles/nginx/templates/security-headers.conf.j2
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/ansible/roles/ssl/tasks/main.yml
  infrastructure/ansible/roles/ssl/tasks/main.yml
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/docker/docker-compose.prod.yml
  infrastructure/docker/docker-compose.prod.yml
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/docker/docker-compose.staging.yml
  infrastructure/docker/docker-compose.staging.yml
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/monitoring/alerts.json
  infrastructure/monitoring/alerts.json
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/monitoring/cloudwatch-dashboard.json
  infrastructure/monitoring/cloudwatch-dashboard.json
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/scripts/init-infrastructure.sh
  infrastructure/scripts/init-infrastructure.sh
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/scripts/rotate-certificates.sh
  infrastructure/scripts/rotate-certificates.sh
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/terraform/modules/cdn/main.tf
  infrastructure/terraform/modules/cdn/main.tf
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/terraform/modules/cdn/outputs.tf
  infrastructure/terraform/modules/cdn/outputs.tf
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/terraform/modules/cdn/variables.tf
  infrastructure/terraform/modules/cdn/variables.tf
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
Owners: @project-maintainers

.github/CODEOWNERS:

* @project-maintainers

# Web application source code including HTML files
src/web/** @web-team

# Security-related configurations requiring security team review
src/web/config/security-headers.conf @security-team
infrastructure/terraform/modules/web/security.tf @security-team

# CI/CD workflows and automation scripts
.github/workflows/* @devops-team @ci-team
src/web/scripts/* @devops-team @ci-team

# Documentation files including markdown and technical docs
**/*.md @docs-team
src/web/docs/** @docs-team
