Repository brianelliott5/siddidit-n983zc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @web-team, @security-team, @devops-team, @ci-team, @docs-team

Add public-samples/siddidit-n983zc/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/terraform/modules/networking/outputs.tf
  infrastructure/terraform/modules/networking/outputs.tf
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/terraform/modules/networking/variables.tf
  infrastructure/terraform/modules/networking/variables.tf
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/terraform/modules/web/main.tf
  infrastructure/terraform/modules/web/main.tf
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/terraform/modules/web/outputs.tf
  infrastructure/terraform/modules/web/outputs.tf
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/infrastructure/terraform/modules/web/variables.tf
  infrastructure/terraform/modules/web/variables.tf
Owners: @project-maintainers

Add public-samples/siddidit-n983zc/src/web/.dockerignore
  src/web/.dockerignore
Owners: @web-team

Add public-samples/siddidit-n983zc/src/web/.eslintignore
  src/web/.eslintignore
Owners: @web-team

Add public-samples/siddidit-n983zc/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @web-team

Add public-samples/siddidit-n983zc/src/web/.gitignore
  src/web/.gitignore
Owners: @web-team

Add public-samples/siddidit-n983zc/src/web/.prettierrc
  src/web/.prettierrc
Owners: @web-team

Add public-samples/siddidit-n983zc/src/web/Dockerfile
  src/web/Dockerfile
Owners: @web-team

Add public-samples/siddidit-n983zc/src/web/README.md
  src/web/README.md
Owners: @docs-team

Add public-samples/siddidit-n983zc/src/web/docker-compose.yml
  src/web/docker-compose.yml
Owners: @web-team

Add public-samples/siddidit-n983zc/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @web-team

Add public-samples/siddidit-n983zc/src/web/package.json
  src/web/package.json
Owners: @web-team

Add public-samples/siddidit-n983zc/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @web-team

Add public-samples/siddidit-n983zc/src/web/config/security-headers.conf
  src/web/config/security-headers.conf
Owners: @security-team

Add public-samples/siddidit-n983zc/src/web/config/nginx/default.conf
  src/web/config/nginx/default.conf
Owners: @web-team

Add public-samples/siddidit-n983zc/src/web/config/nginx/nginx.conf
  src/web/config/nginx/nginx.conf
Owners: @web-team

Add public-samples/siddidit-n983zc/src/web/docs/deployment.md
  src/web/docs/deployment.md
Owners: @docs-team

Add public-samples/siddidit-n983zc/src/web/docs/development.md
  src/web/docs/development.md
Owners: @docs-team

Add public-samples/siddidit-n983zc/src/web/docs/security.md
  src/web/docs/security.md
Owners: @docs-team

Add public-samples/siddidit-n983zc/src/web/public/404.html
  src/web/public/404.html
Owners: @web-team

Add public-samples/siddidit-n983zc/src/web/public/500.html
  src/web/public/500.html
Owners: @web-team

Add public-samples/siddidit-n983zc/src/web/public/favicon.ico
  src/web/public/favicon.ico
Owners: @web-team

Add public-samples/siddidit-n983zc/src/web/public/index.html
  src/web/public/index.html
Owners: @web-team

Add public-samples/siddidit-n983zc/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @web-team

Add public-samples/siddidit-n983zc/src/web/scripts/build.sh
  src/web/scripts/build.sh
Owners: @devops-team, @ci-team

Add public-samples/siddidit-n983zc/src/web/scripts/deploy.sh
  src/web/scripts/deploy.sh
Owners: @devops-team, @ci-team

Add public-samples/siddidit-n983zc/src/web/scripts/rollback.sh
  src/web/scripts/rollback.sh
Owners: @devops-team, @ci-team

Add public-samples/siddidit-n983zc/src/web/scripts/test.sh
  src/web/scripts/test.sh
Owners: @devops-team, @ci-team

Add public-samples/siddidit-n983zc/src/web/scripts/validate-html.sh
  src/web/scripts/validate-html.sh
Owners: @devops-team, @ci-team

Add public-samples/siddidit-n983zc/src/web/src/index.html
  src/web/src/index.html
Owners: @web-team

Add public-samples/siddidit-n983zc/src/web/tests/html-validation.test.ts
  src/web/tests/html-validation.test.ts
Owners: @web-team

Add public-samples/siddidit-n983zc/src/web/tests/index.test.ts
  src/web/tests/index.test.ts
Owners: @web-team

.github/CODEOWNERS:

* @project-maintainers

# Web application source code including HTML files
src/web/** @web-team

# Security-related configurations requiring security team review
src/web/config/security-headers.conf @security-team
infrastructure/terraform/modules/web/security.tf @security-team

# CI/CD workflows and automation scripts
.github/workflows/* @devops-team @ci-team
src/web/scripts/* @devops-team @ci-team

# Documentation files including markdown and technical docs
**/*.md @docs-team
src/web/docs/** @docs-team
